<!DOCTYPE html>
<html ng-app="ixtrm" ng-strict-di>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <title dynamic-title></title>
</head>
<body>
  <ui-view></ui-view>
</body>
</html>